.*
!.gitignore
doc/paper.*
!doc/paper.tex
!doc/paper.sty
doc/paperNotes*
src/instance_selection
!data/
data/*
data/raw/*
!data/raw/
!data/raw/small
!data/raw/medium
!data/raw/large
!data/10fold/
scripts/*
*.log
data/10fold/change.sh
doc/results/
